<?xml version="1.0"?>

<model>
  <name>grasp_object</name>
  <version>1.0</version>
  <sdf version="1.4">grasp_object.sdf</sdf>

  <author>
    <name>Yongming</name>
    <email>yq9vc@virginia.edu</email>
  </author>

  <description>
    A small object for Raven robot to grasp.
  </description>

</model>