<?xml version="1.0"?>

<model>
  <name>plate</name>
  <version>1.0</version>
  <sdf version="1.4">plate.sdf</sdf>

  <author>
    <name>Yongming</name>
    <email>yq9vc@virginia.edu</email>
  </author>

  <description>
    A plate. The object and container are put on this.
  </description>

</model>