<?xml version="1.0"?>

<model>
  <name>raven_2arm</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Yongming</name>
    <email>yq9vc@virginia.edu</email>
  </author>

  <description>
    The raven robot (2 arms).
    ros_control
    grasp_fix plugin
  </description>

</model>